/lambda_dir
/lambda_dir_2

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Distribution / packaging
.Python
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Json files
*.json
*.jsonl
*.jsonl.gz
*.jsonl.bz2
*.jsonl.zip
*.jsonl.tar

# HTML files
*.html
*.html.gz
*.html.bz2
*.html.zip
*.html.tar
**/logs1/